<template>
  <div id="app" class="container-fluid">
    <div class="row">
        <div class="col-md-5 col-sm-12 form">
          <header>
              <img src="./assets/img/vu-logo-with-words.png" alt="university logo" />
              <h4>VICTORIA UNIVERSITY</h4>
              <h5>V-Learner's Portal</h5>
          </header>
          <div class="mt-3">
              <!-- <p v-if="errors.length">
                <ul class="list-group">
                  <li class="list-group-item list-group-item-danger" v-for="error in errors" :key="error"> {{ error }}</li>
                </ul>
              </p> -->
              <h4>Enter your details to login </h4>
              <div class="mb-3">
                <input type="text" class="form-control" name="email" placeholder="your email address" v-model.trim="email" @blur="formCheck">
                <!--- <label for="email">{{ email }}</label> ----->
                <label for="email">{{ info }}</label>
              </div>
              <div class="mb-3">
                <input type="password" class="form-control" name="password" placeholder="your password" v-model="password" @blur="formCheck">
                <!--  <label for="password">{{ password }}</label> -->
              </div>
              <div class="form-check mb-3">
                <input class="form-check-input" type="checkbox" value="" name="rememberMe">
                <label class="form-check-label" for="rememberMe">
                  Remember me
                </label>
              </div>
              <div class="mb-3">
                <button type="submit" class="btn btn-primary btn-lg form-control" @click="onSubmit">Sign In</button>
                <!-- :disabled="!isDisabled" -->
              </div>
          </div>
      </div>
    <div class="col-md-7 image">
      <!-- <img id="graduates-img" src="./assets/img/cover_photo.jpg" alt="graduates" /> -->
    </div>
    </div>
  </div>
</template>

<!--  script ---->

<script>

export default{
  data() {
    return {
      email: '',
      password: '',
      // user:{
      //   email: 'reaganrealone@gmail.com',
      //   password: 'admin.123'
      // },
      errors: [],
      info: null,
    }
  },
  computed: {
    isDisabled(){
      if(!this.email.length || this.email !== this.user.email){
        return false
      }else if(!this.password.length || this.password !== this.user.password){
        return false
      }else{
        return true
      }
    }
  },
  
  methods: {
      // setPassword(event){
      //   this.email = event.target.value;
      // },
      // setEmail(event){
      //   this.password = event.target.value;
      // },
      // emailPasswordCheck(email, password){
      //   if(email !== this.user.email || password !== this.user.password){
      //     return true
      //   }
      // }
      formCheck(event){
        event.preventDefault();
        this.errors = []
        
        if(!this.email.length){
          this.errors.push('email is required')
          // console.log('email required');
          console.log(this.info);
        } else if(!this.validEmail(this.email) || this.email.length >=255){
          this.errors.push('please enter a valid email address')
        }else if(this.email !== this.user.email || this.password !== this.user.password){
          this.errors.push('incorrect  credentials')
          
          // console.log('errors name or pwd');
        } 
        if(!this.password.length){
          this.errors.push('password is required')
          
          // console.log('pwd required');
        }else if(this.password.length < 6 || this.password.length > 200 ){
          this.errors.push('the password should be between 6 to 200 characters ')
          
          // console.log('pwd required');
        }
        if(!this.errors){
          return true
        }
      },
      validEmail(email){
        return /^[a-zA-Z0-9+_.-]+@[a-zA-Z0-9.-]+$/.test(email)
      }, 
      onSubmit(){

        try {
            let response = this.axios.post("https://api.reaganrealones.com:3007/api/v1.1/staff/login", {
                email_phone_number: this.email,
                password: this.password,
            });
            if (response.data.success && response.data.message == "LOGIN_SUCCESSFUL") {
                alert('success')
            }else if(response.data.message == "INCORRECT_CREDENTIALS"){
              alert('invalid credentials')
            }else if(response.data.message == "STAFF_NOT_FOUND"){
              alert('STAFF_NOT_FOUND')
            }
            else {
                throw "UNEXPECTED_RESPONSE_RECEIVED";
            }
        } catch (error) {
            // if(error.response){
            //   if(error.response.data.message == "STAFF_NOT_FOUND"){
            //     alert('Staff not found')
            //     return;
            //   }else if(error.response.data.message == "INCORRECT_CREDENTIALS"){
            //     alert('INCORRECT_CREDENTIALS')
            //     return;
            //   }else{
            //     alert("sth went wrong")
            //   }
            // }
            alert(error)
            console.log(error);
        } finally{
          console.log("finally");
        }
      },  
  }
}
</script>

<!----- styles  ---->
<style>
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'montserrat', sans-serif;
  min-height: 100vh;
  min-width: 100vh;
  overflow: hidden;
}
header{
  text-align: center;
  margin-top: -13rem;
  margin-bottom: 3rem;
  font-weight: bold;
}

header img{
  width: 13rem;
  height: auto;
}

header h5{
  color: gray;
}
.form{
  overflow: visible;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form .form-control{
  padding: .7rem;
}

.form label{
  color: gray;
}
.form .form-check-input{
  padding: .5rem;
  border: 1.5px solid;
  border-radius: 0;
}

.image{
  height: 100vh;
  background: url('./assets/img/cover_photo.jpg');
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 
}
@media only screen and (max-width: 600px) {
  .image{
    display: none;
}
}
</style>

